<div class="form-group mb-5">
  <%= f.label :id_verification_image, 'ID Verification', class: 'spree-flat-input' %>
  <%= f.file_field :id_verification_image, required: true, class: 'spree-flat-input'  %>
</div>
